<template>
   <v-dialog
      v-model="showUp"
      max-width="400"
      @click:outside="$emit('close')"
    >
      <v-card>
        <v-card-title class="headline">
          Your Cart
        </v-card-title>

        <v-card-text v-if="$store.getters.getBasketItems.length>0">
          <p
            class="m-2"
            v-for="basketItem in $store.getters.getBasketItems"
            :key="basketItem.name"
            >
              {{basketItem.name}} <span class="float-right">x {{basketItem.quantity}}</span>
          </p>
        </v-card-text>

        <v-card-text v-else>
          <p><i>empty</i></p>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            text
            @click="$emit('close')"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Cart',
  data() {
    return {
      showUp: true,
    };
  },
});
</script>

<style>

</style>
