<template>
  <div>
    <h1 class="pt-4 m-3">{{name}}</h1>
    <v-list three-line>
      <p class="ml-4" v-if="items.length === 0">
        <i>no results</i>
      </p>
      <v-list-item-group
      >
        <template v-for="(item,index) in items">
          <dish
            :key="index"
            :id="item.id"
            :name="item.name"
            :url="item.url"
            :price="item.price"
            :discountRate="item.discount_rate"
            :availability="item.stock ? item.stock.availability : null"
            :description="item.description"
            :photo="item.photo"
            :category_id="item.category_id"/>
        <v-divider
          class="m-3"
          :key="item.title"
          v-if="index < items.length-1"
        ></v-divider>
        </template>
      </v-list-item-group>
    </v-list>
  </div>
</template>

<script lang="ts">

import Dish from './Dish.vue';

export default {

  name: 'Category',
  components: {
    Dish,
  },
  props: {

    name: {
      type: String,
      required: true,
    },
    url: {
      type: String,
      required: false,
    },
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style>

</style>
