<template>
  <v-list-item @click="$store.dispatch('addItemToBasket', id)" class="m-2 p-0" :key="id">
    <template v-slot:default="{ active }">

      <v-list-item-content
        :style=" active ? 'border-left-style: solid; border-left-color: blue; border-width: thick;' : '' "
      >

       <div class="ml-3">
          <v-list-item-title>
          <b>
            {{ name }}
          </b>
        </v-list-item-title>
        <v-list-item-subtitle class="mt-3 mb-3">
          {{ description }}
        </v-list-item-subtitle>
        <v-list-item-subtitle>
          <b style="color:black;">
            {{ formatAsMoney(price - price*discountRate) }}
          </b>
          <strike class="ml-4">{{ formatAsMoney(price) }}</strike>
        </v-list-item-subtitle>
       </div>
      </v-list-item-content>

      <v-avatar tile size="100" class="m-2">
        <v-img class="rounded" :src="photo"></v-img>
      </v-avatar>
    </template>
  </v-list-item>
</template>

<script lang="ts">
export default {

  name: 'Dish',

  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    url: {
      type: String,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
    discountRate: {
      type: Number,
      required: true,
    },
    availability: {
      type: Number,
      required: false,
      default: 0,
    },
    description: {
      type: String,
      required: true,
    },
    photo: {
      type: String,
      required: false,
      default: '',
    },
    category_id: {
      type: String,
      required: true,
    },
  },
  methods: {
    formatAsMoney(number:number):string {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'AED',
      });
      return formatter.format(number / 100);
    },
  },
};
</script>

<style></style>
