<template>
   <div>
      <div class="m-4">

      <h1>Search</h1>

      <v-text-field
        outlined
        placeholder="Search for dishes..."
        prepend-inner-icon="mdi-magnify"
        class="mt-4"
        v-model="$store.state.searchString">
      </v-text-field>

    </div>

      <category
        v-for="category in menu"
        :key="category.id"
        :name="category.name"
        :items="category.items"
        >
      </category>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Category from './Category.vue';
import { IItem, IMenuItem } from '../store/types';

export default Vue.extend({
  name: 'Menu',
  components: {
    Category,
  },
  data() {
    return {
      showBasket: false,
    };
  },
  mounted() {
    this.$store.dispatch('fetchMenu');
  },
  computed: {
    error(): boolean {
      return this.$store.getters.getError.length > 0;
    },
    menu(): IMenuItem[] {
      return this.$store.getters.getCategories.map((category:IItem) => ({
        ...category,
        items: this.$store.getters.getItems.filter(
          (item:IItem) => (item.category_id === category.id),
        ),
      }));
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
