<template>
  <v-app id ="app">
     <v-card
      class="mx-auto"
      width="500"
    >

      <!-- Top Menu -->
      <v-toolbar
        dark
      >
        <v-btn icon>
          <v-icon @click="$store.dispatch('resetApp')">mdi-arrow-left</v-icon>
        </v-btn>

        <v-toolbar-title>Restaurant Menu</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-chip @click="showCart = !showCart">
          {{$store.getters.getBasketTotal}}
          <v-icon right>
            mdi-cart
          </v-icon>
        </v-chip>

      </v-toolbar>
      <!-- Top Menu -->

      <!-- Menu Component -->
      <Menu/>
      <!-- Menu Component -->

    </v-card>

    <!-- Notification Component -->
    <v-snackbar
      v-model="$store.state.showError"
    >
      {{$store.getters.getError}}

      <template v-slot:action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="$store.dispatch('closeNotification')"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <!-- Notification Component -->

    <!-- Cart -->
      <cart v-if="showCart" @close="showCart=false"></cart>
    <!-- Cart -->
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Menu from './components/Menu.vue';
import Cart from './components/Cart.vue';

export default Vue.extend({
  name: 'App',
  components: {
    Menu,
    Cart,
  },
  data() {
    return {
      showCart: false,
    };
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
